@import "./normalize.css";
@import "./main.css";
@import "slick";
@import "slick-theme";

@font-face {
  font-family: "GibsonLight";
  src: url('../fonts/gibson-light-webfont.woff');
}

@font-face {
  font-family: "GibsonSemiBold";
  src: url('../fonts/gibson-semibold-webfont.woff');
}

@font-face {
  font-family: "GEBold";
  src: url('../fonts/gebold-webfont.woff');
}

@font-face {
  font-family: "GEUltraLight";
  src: url('../fonts/geultralight-webfont.woff');
}

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html, body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;

  overflow: hidden;
  text-align: center;

  background: transparent;

  -webkit-font-smoothing: antialiased;
}

// Type
body {
  font-family: GibsonLight;
  text-transform: uppercase;

  &.lang-en .lang-ar {
    display: none;
  }
  &.lang-ar {
    font-family: GEUltraLight;

    .lang-en {
      display: none;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: GibsonSemiBold;
  letter-spacing: 0.025em;
}

.lang-ar {
  h1, h2, h3, h4, h5, h6 {
    font-family: GEBold;
  }
}

h1 {
  font-size: 1.25em;
}

p {
  font-size: 0.8em;
  line-height: 1em;
}

// Helper Classes
.center-block {
  display: block;
  margin: 0 auto;
}

.pull-left {
  float: left;
}
.pull-right {
  float: right;
}

.lighter {
  font-family: GibsonLight;
  font-weight: lighter;

  &.lang-ar {
    font-family: GEUltraLight;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  margin: 0.5em auto;
  padding: 0.5em 0;

  font-family: GibsonSemiBold;
  line-height: 1.5em;

  background: #000;
  color: white;

  &.btn-blue {
    background: #3a5795;
  }

  &.lang-ar {
    font-family: GEBold;
    direction: rtl;
  }

  &__icon {

    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 100%;
      }

    max-width: 12px;
    margin-left: 6px;

    &--small {
      max-width: 10px;
    }
  }

}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  font-size: 0.8em;

  margin: 0 0.5em;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Arrow:before {
  content: "\e600";
}

.icon-Facebook:before {
  content: "\e601";
}

.icon-Twitter:before {
  content: "\e602";
}

.icon-ArrowLeft:before {
  content: "\e603";
}

.cell .btn {
  line-height: 2em;
}

.btn-inline {
  padding: 0 10px;
}

.header-container {
  max-width: 300px;
  margin: 0 auto;
}

.line-header {
  background: transparent url("../img/ui/line_bg.png") center left repeat-x;
  background-size: contain;

  h1 {
    display: inline-block;
    background: white;
    margin: 0;
    padding: 0 5px;
  }
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#plusBtn {
  display: block;
  position: fixed;
  width: 44px;
  height: 44px;
  background: hotpink;
  bottom: 26px;
  left: 50%;
  margin-left: -22px;
}

// Sections are individual screens.
.section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  padding: 54px 15px;

  background: white;

  opacity: 1;
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -ms-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;

  &.invisible {
    opacity: 0;
    z-index: -999;
  }
}

// The Intro Screen
#intro {

  h1 {
    margin-bottom: 0;
  }

  p {
    font-size: 0.85em;
    margin: 0.5em 0;

    &.terms {
      font-size: 0.5em;
    }
  }
}

.winBanner {
  display: block;
  max-width: 100%;
  margin: 1em auto;

  &.img-ar {
    display: none;
  }
}

.lang-ar {
  .winBanner.img-ar {
    display: block;
  }

  .winBanner.img-en {display: none;}
}

// The overall look
.look {

  .row {
    margin: 2px 10px;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

    .cell {
      width: 47.5%;
      margin: 0 2.5%;

      font-size: 0.8em;

      img {
        display: block;
        max-width: 100%;
      }

      p {
        margin: 0.5em 0 0 0;
      }

      a.clear {
        visibility: hidden;
        font-size: 0.8em;
        font-style: italic;
        text-decoration: underline;
      }

      &.selected {
        a.clear {
          visibility: visible;
        }
      }
    }
  }

  nav.row {
    clear: left;

    .btn {
      max-width: none;
    }
  }

}

.invalidLookPopover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(255,255,255, 0.75);
}

.invalidLookContents {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 280px;
  height: 124px;
  margin: -62px 0 0 -140px;

  background: white;
  border: 1px solid #000000;
  padding: 20px;
}


// The carousel
.carousel {

  h1 {
    margin: 0 0 0.25em 0;

    border-top: 2px dotted #000000;
    border-bottom: 2px dotted #000000;

    -webkit-transition: opacity 0.5s ease-out 0.5s;
    -moz-transition: opacity 0.5s ease-out 0.5s;
    -ms-transition: opacity 0.5s ease-out 0.5s;
    -o-transition: opacity 0.5s ease-out 0.5s;
    transition: opacity 0.5s ease-out 0.5s;

    opacity: 1;
  }

  &.invisible h1 {
    opacity: 0;
  }

  .carousel-wrap {
    position: relative;
  }

  .owl-carousel {
    margin: 0;
  }

  .owl-item {
    background: white url("../img/loading.gif") center center no-repeat;

    img {
      max-height: 568px;
      width: auto;
      margin: 0 auto;

      -webkit-transition: opacity 0.25s ease-out;
      -moz-transition: opacity 0.25s ease-out;
      -ms-transition: opacity 0.25s ease-out;
      -o-transition: opacity 0.25s ease-out;
      transition: opacity 0.25s ease-out;
    }

    p {
      margin: 0.5em 0 0;
    }
  }

  .owl-controls {
    position: relative;
  }

  .carousel-nav {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 0;
    overflow: visible;
    z-index: 2;

    .owl-prev, .owl-next {
      position: relative;
      width: 18px;
      height: 36px;
      top: -18px;
      text-indent: -10000em;
      background: transparent url("../img/ui/ui_prev-next.png");
      background-size: auto 36px;
    }

    .owl-prev { float: left; }
    .owl-next { float: right; background-position: -18px; }
  }

  .owl-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 2px;
    border-radius: 5px;
    background: #cecece;

    &.active {
      background: #1d1d1b;
    }
  }

  img:not(.btn__icon) {
    display: inline-block;
    max-width: 95%;
  }
}

// Media Queries

// - retina screens
@media only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and ( min-device-pixel-ratio: 1.25), only screen and ( min-resolution: 200dpi), only screen and ( min-resolution: 1.25dppx)
{
  html {
    -webkit-font-smoothing: subpixel-antialiased;
  }
}

@media screen and (min-width: 769px) {

  #intro {
    #winBanner {
      max-width: 300px;
    }
  }

  // The overall look
  #look {

    figure.row {
      margin: 10px 0;      /* NEW, Spec - Opera 12.1, Firefox 20+ */
      width: 50%;
      float: left;

      .cell {
        width: 47.5%;
        margin: 0 2.5%;

        font-size: 0.8em;

        img {
          display: block;
          max-width: 100%;
        }
      }
    }
  }

  // The carousel
  #carousel {
    .owl-item {
      img {
        max-height: 520px;
      }
    }
  }
}
